<section class="dashboard-wrapper">
  <div class="container">
    <div class="dashboard">
      <div class="dashboard-controls row">
        <div class="col-md-8 col-xs-12 control-item">
          <input class="form-control" id="searchInput" [(ngModel)]="searchStr"
            (ngModelChange)="onSearchStrChange($event)" type="text" placeholder="Search with title or author.." />
        </div>
        <div class="col-md-4 col-xs-12 d-flex justify-content-end">
          <div class="btn-group control-item" role="group">
            <button class="btn btn-info" [attr.aria-label]="showOnlyFavorite ? 'Show all items' : 'Show favorite items'"
              data-balloon-pos="up" (click)="toggleFavoriteAlbum()">
              <i class="fa" [ngClass]="showOnlyFavorite ? 'fa-heart' : 'fa-heart-o'"></i>
            </button>
            <button class="btn btn-info" aria-label="Switch to card view" data-balloon-pos="up"
              (click)="changeLayout('card')">
              <i class="fa fa-th"></i>
            </button>
            <button class="btn btn-info" aria-label="Switch to list view" data-balloon-pos="up-right"
              (click)="changeLayout('grid')">
              <i class="fa fa-th-list"></i>
            </button>
          </div>
        </div>
      </div>
      <div>
        {{resultMessage}}
      </div>
      <div class="album-view-wrapper container card">
        <div *ngIf="albumData.length === 0 && !loading" class="no-results">
          No result found
        </div>
        <app-album-card-view *ngIf="layout === 'card'" [albumData]="albumData">
        </app-album-card-view>
        <app-album-grid-view *ngIf="layout === 'grid'" [albumData]="albumData">
        </app-album-grid-view>
      </div>
    </div>
  </div>
</section>