.dashboard-wrapper {
  margin-top: 60px;
}

.album-view-wrapper {
  margin-top: 20px;
}

.no-results {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
}

.control-item {
  margin-bottom: 20px;
}
